body {
}
#cabecera{
height:200px;
background-color:#ff7800;
color:white;
border: 1px dashed #a64e06;
box-shadow: 0px 0px 10px #000;
z-index:2;
}
#contenidoCabecera {
width:960px;
margin:auto;
}
#barraHorizontal {


height:30px;
background-color: #a64e06;
border-radius: 0px 0px 10px 10px;
box-shadow:0px 0px 10px #000 inset;
text-align:center;
}
    #barraHorizontal > ul {
        list-style-type:none;
        padding:0;
        margin:0;
    }
    #barraHorizontal  li {
    display:inline-block;
    padding:5px;
    cursor:pointer;
    background-color:#ff9a40;
    color:#a64e06;
    box-shadow:0px 0px 5px #000 inset ;
    
    }
    #barraHorizontal li >a {
        display:block;
        color:#a64e06;
        text-decoration:none;
        font-weight:bold;
    }
#menuContextual {
    list-style-type:none;
    padding:0;
     margin:0;
    }
#MenuContextual >li{
padding:10px;
text-align:center;
background-color:#a64e06;
border: 1px outset #a64e06;
box-shadow:0px 0px 10px #000 inset;
}
    #MenuContextual > li > a {
        text-decoration:none;
        color:white;
    }

#logotipo {

width:40%;
float:left;
text-align:center;
}
    #logotipo > img {
        box-shadow:0px 0px 10px #000;


    }
#titulo {
    width:60%;
    float:left;
    text-shadow:2px 2px 3px #000;
}
#titulo > h1 {
    margin-top:12px;
}
#titulo > h2 {
    margin-bottom :0px;
}
#bajo {
width:960px;
margin:auto;
background-color:#ff9a40;
border-radius:0px 0px 20px 20px;
overflow:auto;
box-shadow:0px 0px 10px #000;
}
#columnIzq, #columDer {
    float: left;
    width: 20%;
    min-height: 500px;
}
#columnCentro
{
    float:left;
    width:60%;
    min-height:500px;
    background-color:white;
    box-shadow:0px 0px 5px #000 inset;
}
#pie {
    height:30px;
    background-color:#a64e06;
    border-radius:0px 0px 20px 20px;
    clear:both;
    box-shadow:0px 0px 5px #000 inset;
    color:white;
    text-align:center;
    padding-top:5px;
   }


