<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.Razor" version="1.0.20105.408" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor.es" version="1.0.20105.408" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="1.0.20105.408" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages.Administration" version="1.0.20105.408" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages.Administration.es" version="1.0.20105.408" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages.Data" version="1.0.20105.408" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages.Data.es" version="1.0.20105.408" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages.es" version="1.0.20105.408" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages.WebData" version="1.0.20105.408" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages.WebData.es" version="1.0.20105.408" targetFramework="net45" />
  <package id="Microsoft.SqlServer.Compact" version="4.0.8876.1" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Nuget.Core" version="1.0.1120.104" targetFramework="net45" />
</packages>